services:
  user_postgres:
    image: postgres:15-alpine
    container_name: order_postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - user_service_data:/var/lib/postgresql/data
    networks:
      - e_com_network

  user_service:
    container_name: user-service
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "8081:8081"
    volumes:
      - ./:/workspace
      - ~/.m2:/root/.m2
    working_dir: /workspace
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_DEVTOOLS_RESTART_ENABLED=true
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    command: ["./mvnw", "spring-boot:run", "-Dspring-boot.run.fork=false"]
    depends_on:
      - user_postgres
    networks:
      - e_com_network

networks:
  e_com_network:
    external: true

volumes:
  user_service_data:
